.timerAction {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 10px;
  border-width: 0.5px;
}
.btn:hover {
  cursor: pointer;
  background-color: white;
  transform: scale(1.2);
}
