.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.timeInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.timeInput > input {
  padding: 10px;
  border-radius: 5px;
}
.timeInput > button {
  margin-top: 20px;
}
.timerBox {
  border: 1px solid transparent;
  padding: 30px;
  min-height: 120px;
  border-radius: 20px;
  height: min-content;
  background: #eee;
  box-shadow: 0 8px 8px -4px lightblue;
}
.btn {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 5px;
  margin: 10px;
  border-width: 0.5px;
}
.btn:hover {
  cursor: pointer;
  background-color: white;
  transform: scale(1.2);
}
.timeDisp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.timeDisp > h1 {
  font-size: 4rem;
}
